/** GLOBAL - FONTS -----------------------------------------**/


@import url(http://fonts.googleapis.com/css?family=Open+Sans|Neucha);

@font-face {
    font-family: "kcicons";
    src:url("/common/font/kcicons.eot");
    src:url("/common/font/kcicons.eot?#iefix") format("embedded-opentype"),
        url("/common/font/kcicons.woff") format("woff"),
        url("/common/font/kcicons.ttf") format("truetype"),
        url("/common/font/kcicons.svg#untitled-font-1") format("svg");
    font-weight: normal!important;
    font-style: normal;
}

// @font-face {
//     font-family: "kcicons";
//     src:url("/css/fonts/kcicons.eot");
//     src:url("/css/fonts/kcicons.eot?#iefix") format("embedded-opentype"),
//         url("/css/fonts/kcicons.woff") format("woff"),
//         url("/css/fonts/kcicons.ttf") format("truetype"),
//         url("/css/fonts/kcicons.svg#untitled-font-1") format("svg");
//     font-weight: normal!important;
//     font-style: normal;
// }

// @font-face {
//     font-family: "simplefly";
//     src:url("/css/fonts/simplefly.eot");
//     src:url("/css/fonts/simplefly.eot?#iefix") format("embedded-opentype"),
//         url("/css/fonts/simplefly.woff") format("woff"),
//         url("/css/fonts/simplefly.ttf") format("truetype"),
//         url("/css/fonts/simplefly.svg#untitled-font-1") format("svg");
//     font-weight: normal!important;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'FontAwesome';
//     src: url('/css/fonts/fontawesome-webfont.eot?v=4.4.0');
//     src: url('/css/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('/css/fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('/css/fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('/css/fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('/css/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

$mainFont: "Open Sans",sans-serif;
$titleFont: 'Neucha', cursive;
$iconFont: 'kcicons';
