<div class="category-box">
    <div class="cols category-thumbnails">
        <div class="xs-6 sm-4 md-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/geboortekaartjes/meisje';">
                <img alt="Meisjes" class="img-responsive img-center" src="/media/imgmeisjes4.jpg">
                <div class="thumbnail-footer text-left">
                    <a class="button button-white" href="/geboortekaartjes/meisje" title="Meisjes">Meisjes
                        <i class="icon icon-bold-arrow">&nbsp;</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="xs-6 sm-4 md-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/geboortekaartjes/jongen';">
                <img alt="Jongens" class="img-responsive img-center" src="/media/imgjongens2.jpg">
                <div class="thumbnail-footer text-left">
                    <a class="button button-white" href="/geboortekaartjes/jongen" title="Jongens">Jongens
                        <i class="icon icon-bold-arrow">&nbsp;</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="xs-12 sm-4 md-4">
            <h2>Waarom MyCards.nl?</h2>
            <ul class="usp-block">
                <li>Echte proefdruk &euro; 1,-</li>
                <li>Gratis verzenden</li>
                <li>Kies uit 6 papiersoorten</li>
                <li>Kies uit 21 enveloppen</li>
                <li>Inclusief bedrukte achterkant</li>
                <li>V&oacute;&oacute;r 18u besteld is dezelfde dag verzonden</li>
            </ul>
            <a class="button button-lg button-yellow button-100 " href="/geboortekaartjes/zelf-geboortekaartjes-maken-ontwerpen">Zelf ontwerpen
                <i class="icon icon-bold-arrow">&nbsp;</i>
            </a>
        </div>
    </div>
</div>
<p class="xs-hide xsm-hide">Geboortekaartjes maken doe je eenvoudig zelf op MyCards.nl! Met onze online kaartenmaker kun je <strong>eenvoudig</strong>&nbsp;je favoriete
    <a href="/geboortekaartjes/jongen">jongens</a> of
    <a href="/geboortekaartjes/meisje">meisjes </a>geboortekaartje uit onze ruime collectie helemaal naar eigen wens aanpassen. Ook is het mogelijk om helemaal zelf een geboortekaartje te
    <a href="/geboortekaartjes/zelf-geboortekaartjes-maken-ontwerpen">ontwerpen</a>.
</p>