<div class="container" style="text-align:center">
    <img class="img-responsive img-center" alt="stappenplan geboortekaartje maken" src="/media/steps.jpg" title="Geboortekaartjes online maken" />
</div>
<h3 style="text-align:center">&nbsp;</h3>
<h2><em>Geboortekaartjes maken tips</em></h2>
<p><strong>Proefdruk: </strong>Om zeker te weten dat je gemaakte geboortekaartje helemaal naar wens is om straks na de geboorte van je kindje te versturen, is het mogelijk om voor slechts 1 euro een&nbsp;<strong>&eacute;chte</strong>&nbsp;proefdruk van je geboortekaartje te bestellen. Bij de proefdruk krijg je ook een proefsetje met alle mogelijke papiersoorten en de te kiezen kleuren voor de enveloppen, zo kun je thuis de beste keuze maken voor het eindresultaat.</p>
<img alt="geboortekaartjes maken" id="Geboortekaartjes" longdesc="http://mycards.nl/cms_edit_main_category/de%20mooiste%20geboortekaartjes%20online%20maken%20of%20ontwerpen" src="/media/demooistegeboortekaartengeboortekaartjesonlinemakenontwerpen.png" style="float:right; height:179px; width:150px" title="Geboortekaartjes" />
<p><strong>Geboortekaartje opslaan:</strong> Als je het geboortekaartje naar wens hebt gemaakt sla je deze eenvoudig op in je eigen
    <a href="/account">account. </a>Als de baby is geboren pas je eenvoudig het geboortekaartje aan met de gegevens van je baby en bestel je de geboortekaartjes online.&nbsp;</p>
<p><strong>Teksten geboortekaartjes:</strong> Op zoek naar een mooie tekst voor op het geboortekaartje? Bezoek onze
    <a href="http://mycards.nl/geboortekaartjes/voorbeeld-teksten">voorbeeldteksten pagina</a> voor inspiratie!</p>
<h2>Grote online collectie&nbsp;geboortekaartjes&nbsp;</h2>
<p>In het menu kun je kiezen voor verschillende soorten geboortekaartjes. Maak een keuze voor
    <a href="/geboortekaartjes/jongen">jongens,</a>
    <a href="/geboortekaartjes/meisje">meisjes</a>,
    <a href="/geboortekaartjes/tweeling">tweeling,</a>
    <a href="/geboortekaartjes/hippe-geboortekaartjes">hippe</a>
    <a href="/geboortekaartjes/geboortekaartjes-hout">,</a>
    <a href="/geboortekaartjes/klassieke-geboortekaartjes">klassieke,</a>
    <a href="/geboortekaartjes/originele-geboortekaartjes">originele,</a>&nbsp;
    <a href="/geboortekaartjes/geboortekaartjes-met-foto">met foto</a> of
    <a href="/geboortekaartjes/stoere-geboortekaartjes">stoere geboortekaartjes</a> om je mooiste kaartje uit te kiezen en te maken.</p>
<p>Kom je er niet uit met het maken van je geboortekaartje? Neem gerust
    <a href="/contact">contact </a>met ons op!</p>
<p>*voor 18:00 uur besteld en morgen in huis is geldig bij bestelling vanaf 20 kaarten op werkdagen (pakketpost). Overige bestellingen en proefdrukken drukken en versturen wij de volgende werkdag (brievenbuspost).</p>
<p>
    <style type="text/css">
    .trouw-item,
    .comm-item,
    .uitno-item,
    .eigen-item,
    .coll-item,
    .kerst-item,
    .verhuis-item,
    .block-ads,
    .nav-bot {
        display: none;
    }
    </style>
</p>