<link href="/css/custom.css" rel="stylesheet" />
<div class="navbar navbar-style-1">
    <div class="topbar">
        <div class="container">
            <button class="navbar-hamburger js-open-middlebar-menu-right-mob" type="button">
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
            </button>
            <a class="logo" href="/"><img alt=" " class="logosmall" src="/media/logo.png" /></a>
            <div class="topbar-menu-left">
                <a href="/klantwaardering" title="99% aanbeveling!">
                    <span style="color:#007b00;">99% aanbeveling!</span>
                </a> |
                <a href="/Nieuws" title="Bestel GRATIS een proefdruk">Bestel GRATIS een proefdruk</a> |
                <a href="/bezorgen" title="Voor 18u besteld, dezelfde dag verzonden">Voor 18u besteld = dezelfde dag verzonden</a>
            </div>
            <div class="topbar-menu-right">
                <ul>
                    <li class="phone">
                        <a class="hphone" href="tel:0857430752" title="085-7430752">
                            <i class="icon icon-phone">&nbsp;</i>
                            <span>0318 - 725 123</span>
                        </a>
                    </li>
                    <li class="contact">
                        <a class="basket" href="/contact" title="Contact">
                            <i class="icon icon-mail">&nbsp;</i>
                            <span>Contact</span>
                        </a>
                    </li>
                    <li class="info dropdown js-dropdown">
                        <a class="help js-dropdown-hover" href="javascript:void(0);" title="Hulp">
                            <i class="icon icon-info">&nbsp;</i>
                            <span>Info &amp; Prijzen</span>
                        </a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li>
                                <a href="/over-mycards">Over MyCards</a>
                            </li>
                            <li>
                                <a href="/Nieuws">Nieuws</a>
                            </li>
                            <li>
                                <a href="/hoe-werkt-het">Hoe werkt het?</a>
                            </li>
                            <li>
                                <a href="/proefdruk">Proefdruk</a>
                            </li>
                            <li>
                                <a href="/papiersoorten">Papiersoorten</a>
                            </li>
                            <li>
                                <a href="/prijzen">Prijzen</a>
                            </li>
                            <li>
                                <a href="/bezorgen">Bezorging</a>
                            </li>
                            <li>
                                <a href="/klantwaardering">Klantwaardering</a>
                            </li>
                             <li>
                                <a href="/garantie">Garantie</a>
                            </li>
                            <li>
                                <a href="/faq">Veelgestelde vragen</a>
                            </li>
                            <li>
                                <a href="/tips-en-trucs">Tips &amp; Trucs</a>
                            </li>
                            <li>
                                <a href="/enveloppen-info">Enveloppen</a>
                            </li>
                        </ul>
                    </li>
                    <li class="favourites">
                        <a class="js-favorites-dynamic" href="javascrip:void()">&nbsp;</a>
                    </li>
                    <li class="account dropdown js-dropdown" id="navbar-logout">
                        <a class="js-dropdown-hover account" href="javascript:void(0);" title="Account">
                            <i class="icon icon-user">&nbsp;</i>
                            <span>Account</span>
                        </a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li>
                                <a href="/account_address">Persoonsgegevens</a>
                            </li>
                            <li>
                                <a href="/account_password">Wachtwoord wijzigen</a>
                            </li>
                            <li>
                                <a href="/account_nieuwsbrief">Nieuwsbrief instellingen</a>
                            </li>
                            <li>
                                <a href="/account_orders">Bestellingen</a>
                            </li>
                            <li>
                                <a href="/eigen_collectie">Eigen collectie</a>
                            </li>
                            <li>
                                <a href="/logout">Uitloggen</a>
                            </li>
                        </ul>
                    </li>
                    <li class="login" id="navbar-login">
                        <a href="/login" title="Inloggen">
                            <i class="icon icon-user">&nbsp;</i>
                            <span>Inloggen</span>
                        </a>
                    </li>
                    <li class="basket">
                        <a class="basket" href="/basket_n" title="Winkelmandje">
                            <i class="icon icon-basket">&nbsp;</i>
                            <span id="navbar-basket"> </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="topbar-basket-mob js-open-topbar-basket-menu-mob">
                <i class="icon icon-basket">&nbsp;</i>
            </div>
            <div class="topbar-basket-menu-mob js-topbar-basket-menu-mob">
                <p class="basket-items-count">&nbsp;</p>
                <ul>
                    <li class="mob-basket">
                        <a href="/basket_n">Winkelmand</a>
                    </li>
                    <li class="mob-account">
                        <a href="/account">Account</a>
                    </li>
                    <li class="mob-collection">
                        <a href="/eigen_collectie">Eigen collectie</a>
                    </li>
                    <li class="mob-contact">
                        <a href="/contact">Contact</a>
                    </li>
                    <li class="mob-login">
                        <a href="/login">Inloggen</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middlebar">
        <div class="container">
            <div class="collapse">
                <a class="logo" href="/home" title="Kaartjes"><img alt="" src="/media/logo.png" style="width: 180px;" /></a>
                <!-- middlebar-menu-left is needed for navbar-style-1 to fill the scroll-menu on mobile -->
                <ul class="middlebar-menu-left js-middlebar-menu-left md-hide-ib lg-hide-ib">
                    <li>
                        <a href="/geboortekaartjes">Alle geboortekaartjes</a>
                    </li>
                    <li>
                        <a href="/trouwkaarten">Trouwkaarten</a>
                    </li>
                    <li>
                        <a href="/verhuiskaarten">Verhuiskaarten</a>
                    </li>
                    <li>
                        <a href="/wenskaarten">Wenskaarten</a>
                    </li>
                    <li>
                        <a href="/zelf-maken">Zelf maken</a>
                    </li>
                    <li>
                        <a href="/zelf-geboortekaartjes-maken">Zelf maken</a>
                    </li>
                </ul>
                <ul class="middlebar-menu-right js-middlebar-menu-right">
                    <li class="dropdown js-dropdown for-mobile">
                        <a class="js-dropdown-click" href="javascript:void(0);">Geboortekaartjes</a>
                        <ul class="dropdown-content js-dropdown-content ">
                            <li>
                                <a href="/geboortekaartjes">Alle geboortekaartjes</a>
                            </li>
                            <li>
                                <a href="/adoptiekaartjes">Adoptie</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes-boom">Boom</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes-dieren">Dieren</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes-hartjes">Hartjes</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes-hout">Hout</a>
                            </li>
                            <li>
                                <a href="/lieve-geboortekaartjes">Lief</a>
                            </li>
                            <li>
                                <a href="/moderne-geboortekaartjes">Modern</a>
                            </li>
                            <li>
                                <a href="/originele-geboortekaartjes">Origineel</a>
                            </li>
                            <li>
                                <a href="/romantische-geboortekaartjes">Romantisch</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes-ruitjes">Ruitjes</a>
                            </li>
                            <li>
                                <a href="/stoere-geboortekaartjes">Stoer</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes-tweeling">Tweeling</a>
                            </li>
                            <li>
                                <a href="/typografie-geboortekaartjes">Typografie</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes-uil">Uil</a>
                            </li>
                            <li>
                                <a href="/vrolijke-geboortekaartjes">Vrolijk</a>
                            </li>
                            <li>
                                <a href="/vintage-geboortekaartjes">Vintage</a>
                            </li>
                        </ul>
                    </li>                    
                    <li class="for-desktop">
                        <a class="" href="/geboortekaartjes">Geboortekaartjes</a>
                    </li>
                    <li>
                        <a href="/trouwkaarten">Trouwkaarten</a>
                    </li>
                    <li>
                        <a href="/verhuiskaarten">Verhuiskaarten</a>
                    </li>
                    <li>
                        <a href="/wenskaarten">Wenskaarten</a>
                    </li>
                    <li>
                        <a href="/zelf-maken">Zelf maken</a>
                    </li>
                    <li class="xs-hide-ib xsm-hide-ib sm-hide-ib">
                        <a class="js-favorites-dynamic" href="javascrip:void()">&nbsp;</a>
                    </li>
                </ul>
            </div>
            <div class="open-navbar-search js-open-navbar-search">
                <i class="icon icon-search">&nbsp;</i>
            </div>
            <div class="navbar-search-field js-navbar-search-field js-middlebar-menu-right">
                <form _lpchecked="1" action="/zoeken" id="headersearch" style="text-align:right;">
                    <meta content="https://shop75.kaart-o-matic.nl/zoeken?qry={qry}" />
                    <button class="search-button-field">
                        <i class="icon icon-search">&nbsp;</i>
                    </button>
                    <div class="search-input-field">
                        <input name="qry" placeholder="Je zoekterm + enter" type="text" />
                    </div>
                </form>
            </div>
            <div class="menu-mob-middlebar-left js-open-middlebar-menu-right-mob">
                <i class="icon icon-hamburger">&nbsp;</i>menu</div>
        </div>
    </div>
</div>