<p>In de tabellen op deze pagina kun je per formaat en aantal de prijs zien per kaart.</p>
<p>Deze prijzen zijn <strong>inclusief drukkosten, verzendkosten binnen Europa&nbsp;</strong>en BTW, maar exclusief eventuele enveloppen.</p>
<p>Wil je de&nbsp;bestelling&nbsp;naar een ander land laten verzenden? Ook dat kan.&nbsp;Neem dan
    <a href="/contact">contact</a> op met onze klantenservice.&nbsp;<img alt="" src="https://mycardsrouwkaarten.nl/media/postnllogo1.png" style="width: 100px; height: 100px; float: right;" />
    <br /> Wil je enveloppen vooraf bestellen?
    <a href="/bestel_details?keuze=enveloppen">Klik hier</a>.&nbsp;</p>
<h2>
    <a class="openPrijsCalculator" href="javascript:void(0);" main-cat="collecties">&gt; Bereken eenvoudig je prijs in onze prijscalculator, klik hier</a>
</h2>
<p><u><strong>Enkele kaarten:</strong></u>&nbsp;</p>
<div class="table-responsive">
    <table border="1" cellpadding="1" cellspacing="1" class="table" style="width:900px;">
        <thead>
            <tr>
                <th scope="col">aantal kaarten</th>
                <th scope="col" style="width: 80px;">8x8 cm &nbsp;&nbsp;</th>
                <th scope="col" style="width: 80px;">11x11 13x13 12,5x13* cm</th>
                <th scope="col" style="width: 70px;">15x15 cm</th>
                <th scope="col" style="width: 70px;">10x15 12x8 cm</th>
                <th scope="col" style="width: 70px;">11x17 cm</th>
                <th scope="col" style="width: 70px;">14x21 cm</th>
                <th scope="col" style="width: 70px;">21x10 cm</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1 kaart</td>
                <td style="text-align: center; ">&euro; 2,10</td>
                <td style="text-align: center; ">&euro; 2,15</td>
                <td style="text-align: center; ">&euro; 2,65</td>
                <td style="text-align: center; ">&euro; 2,05</td>
                <td style="text-align: center; ">&euro; 2,20</td>
                <td style="text-align: center; ">&euro; 2,35</td>
                <td style="text-align: center; ">&euro; 2,15</td>
            </tr>
            <tr>
                <td>2 - 9 kaarten</td>
                <td style="text-align: center; ">&euro; 1,50</td>
                <td style="text-align: center; ">&euro; 1,80</td>
                <td style="text-align: center; ">&euro; 1,95</td>
                <td style="text-align: center; ">&euro; 1,90</td>
                <td style="text-align: center; ">&euro; 2,05</td>
                <td style="text-align: center; ">&euro; 2,20</td>
                <td style="text-align: center; ">&euro; 1,75</td>
            </tr>
            <tr>
                <td style="text-align: left; ">10 - 49 kaarten</td>
                <td style="text-align: center; ">&euro; 1,40</td>
                <td style="text-align: center; ">&euro; 1,60</td>
                <td style="text-align: center; ">&euro; 1,85</td>
                <td style="text-align: center; ">&euro; 1,60</td>
                <td style="text-align: center; ">&euro; 1,65</td>
                <td style="text-align: center; ">&euro; 1,80</td>
                <td style="text-align: center; ">&euro; 1,65</td>
            </tr>
            <tr>
                <td style="text-align: left; ">50 - 99 kaarten</td>
                <td style="text-align: center; ">&euro; 1,25</td>
                <td style="text-align: center; ">&euro; 1,40</td>
                <td style="text-align: center; ">&euro; 1,65</td>
                <td style="text-align: center; ">&euro; 1,40</td>
                <td style="text-align: center; ">&euro; 1,45</td>
                <td style="text-align: center; ">&euro; 1,60</td>
                <td style="text-align: center; ">&euro; 1,45</td>
            </tr>
            <tr>
                <td style="text-align: left; ">100 - 199 kaarten</td>
                <td style="text-align: center; ">&euro; 1,00</td>
                <td style="text-align: center; ">&euro; 1,10</td>
                <td style="text-align: center; ">&euro; 1,30</td>
                <td style="text-align: center; ">&euro; 1,10</td>
                <td style="text-align: center; ">&euro; 1,15</td>
                <td style="text-align: center; ">&euro; 1,30</td>
                <td style="text-align: center; ">&euro; 1,15</td>
            </tr>
            <tr>
                <td style="text-align: left; ">200 of meer kaarten</td>
                <td style="text-align: center; ">&euro; 0,90</td>
                <td style="text-align: center; ">&euro; 1,00</td>
                <td style="text-align: center; ">&euro; 1,15</td>
                <td style="text-align: center; ">&euro; 1,00</td>
                <td style="text-align: center; ">&euro; 1,05</td>
                <td style="text-align: center; ">&euro; 1,20</td>
                <td style="text-align: center; ">&euro; 1,05</td>
            </tr>
        </tbody>
    </table>
</div>
<p><u><strong>Dubbele kaarten:</strong></u></p>
<div class="table-responsive">
    <table border="1" cellpadding="1" cellspacing="1" class="table" style="width:900px;">
        <thead>
            <tr>
                <th scope="col">aantal kaarten &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                <th scope="col" style="width: 80px;">11x11 cm</th>
                <th scope="col" style="width: 80px;">11x11 13x13 12,5x13* cm</th>
                <th scope="col" style="width: 80px;">15x15 cm</th>
                <th scope="col" style="width: 80px;">10x15 12x8 cm</th>
                <th scope="col" style="width: 80px;">11x17 cm</th>
                <th scope="col" style="width: 80px;">14x21 cm</th>
                <th scope="col" style="width: 80px;">21x10 cm</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1 kaart</td>
                <td style="text-align: center;">&euro; 2,65</td>
                <td style="text-align: center;">&euro; 2,65</td>
                <td style="text-align: center;">&euro; 2,95</td>
                <td style="text-align: center;">&euro; 2,65</td>
                <td style="text-align: center;">&euro; 2,80</td>
                <td style="text-align: center;">&euro; 2,95</td>
                <td style="text-align: center;">&euro; 2,85</td>
            </tr>
            <tr>
                <td>2 - 9 kaarten</td>
                <td style="text-align: center;">&euro; 2,55</td>
                <td style="text-align: center;">&euro; 2,55</td>
                <td style="text-align: center;">&euro; 2,80</td>
                <td style="text-align: center;">&euro; 2,35</td>
                <td style="text-align: center;">&euro; 2,60</td>
                <td style="text-align: center;">&euro; 2,70</td>
                <td style="text-align: center;">&euro; 2,65</td>
            </tr>
            <tr>
                <td>10 - 49 kaarten</td>
                <td style="text-align: center;">&euro; 2,15</td>
                <td style="text-align: center;">&euro; 2,15</td>
                <td style="text-align: center;">&euro; 2,40</td>
                <td style="text-align: center;">&euro; 2,05</td>
                <td style="text-align: center;">&euro; 2,30</td>
                <td style="text-align: center;">&euro; 2,35</td>
                <td style="text-align: center;">&euro; 2,25</td>
            </tr>
            <tr>
                <td>50 - 99 kaarten</td>
                <td style="text-align: center;">&euro; 2,00</td>
                <td style="text-align: center;">&euro; 2,00</td>
                <td style="text-align: center;">&euro; 2,25</td>
                <td style="text-align: center;">&euro; 1,90</td>
                <td style="text-align: center;">&euro; 2,15</td>
                <td style="text-align: center;">&euro; 2,20</td>
                <td style="text-align: center;">&euro; 2,10</td>
            </tr>
            <tr>
                <td>100 - 199 kaarten</td>
                <td style="text-align: center;">&euro; 1,90</td>
                <td style="text-align: center;">&euro; 1,90</td>
                <td style="text-align: center;">&euro; 2,15</td>
                <td style="text-align: center;">&euro; 1,80</td>
                <td style="text-align: center;">&euro; 2,05</td>
                <td style="text-align: center;">&euro; 2,10</td>
                <td style="text-align: center;">&euro; 2,00</td>
            </tr>
            <tr>
                <td>200 of meer kaarten</td>
                <td style="text-align: center;">&euro; 1,75</td>
                <td style="text-align: center;">&euro; 1,75</td>
                <td style="text-align: center;">&euro; 2,00</td>
                <td style="text-align: center;">&euro; 1,65</td>
                <td style="text-align: center;">&euro; 1,90</td>
                <td style="text-align: center;">&euro; 1,95</td>
                <td style="text-align: center;">&euro; 1,85</td>
            </tr>
        </tbody>
    </table>
</div>
<p>* Dit formaat is extra interessant voor onze Belgische klanten. Dit i.v.m. de specificaties voor bpost in Belgi&euml;. Uiteraard is dit formaat ook gewoon door klanten buiten Belgi&euml; te bestellen</p>
<p><u><strong>Drieluik (zigzag) kaarten:</strong></u></p>
<div class="table-responsive">
    <table border="1" cellpadding="1" cellspacing="1" class="table" style="width: 600px;">
        <thead>
            <tr>
                <th scope="col">aantal kaarten &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                <th scope="col" style="width: 80px;">11x11 cm</th>
                <th scope="col" style="width: 80px;">13x13 cm</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1 kaart</td>
                <td style="text-align: center;">&euro; 2,90</td>
                <td style="text-align: center;">&euro; 3,10</td>
            </tr>
            <tr>
                <td>2 - 9 kaarten</td>
                <td style="text-align: center;">&euro; 2,80</td>
                <td style="text-align: center;">&euro; 3,00</td>
            </tr>
            <tr>
                <td>10 - 49 kaarten</td>
                <td style="text-align: center;">&euro; 2,30</td>
                <td style="text-align: center;">&euro; 2,50</td>
            </tr>
            <tr>
                <td>50 - 99 kaarten</td>
                <td style="text-align: center;">&euro; 2,15</td>
                <td style="text-align: center;">&euro; 2,35</td>
            </tr>
            <tr>
                <td>100 - 199 kaarten</td>
                <td style="text-align: center;">&euro; 2,05</td>
                <td style="text-align: center;">&euro; 2,25</td>
            </tr>
            <tr>
                <td>200 of meer kaarten</td>
                <td style="text-align: center;">&euro; 1,90</td>
                <td style="text-align: center;">&euro; 2,05</td>
            </tr>
        </tbody>
    </table>
</div>
<p>&nbsp;</p>
<div class="table-responsive">
    <table border="1" cellpadding="1" cellspacing="1" class="table" style="width:600px;">
        <thead>
            <tr>
                <td style="text-align: center;"><strong>Extra&#39;s</strong></td>
                <td style="text-align: center;"><strong>Enkele kaart (ongevouwen)</strong></td>
                <td style="text-align: center;"><strong>Dubbele kaart (gevouwen)</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Toeslag papiersoort Parelmoer</td>
                <td rowspan="1" style="text-align: center;">&euro; 0,15</td>
                <td rowspan="1" style="text-align: center;">&euro; 0,25</td>
            </tr>
            <tr>
                <td>Toeslag papiersoort Oud Hollands</td>
                <td rowspan="1" style="text-align: center;">&euro; 0,15</td>
                <td rowspan="1" style="text-align: center;">&euro; 0,25</td>
            </tr>
            <tr>
                <td>Toeslag papiersoort Ivory Gold</td>
                <td rowspan="1" style="text-align: center;">&euro; 0,15</td>
                <td rowspan="1" style="text-align: center;">&euro; 0,25</td>
            </tr>
            <tr>
                <td>Enveloppen Standaard of Kraft</td>
                <td colspan="2" rowspan="1" style="text-align: center;">&euro; 0,25</td>
            </tr>
            <tr>
                <td>Enveloppen Metallic of Parelmoer</td>
                <td colspan="2" rowspan="1" style="text-align: center;">&euro; 0,35</td>
            </tr>
            <tr>
                <td>Verzending binnen Nederland</td>
                <td colspan="2" rowspan="1" style="text-align: center;">Gratis</td>
            </tr>
            <tr>
                <td>Verzending Europa (incl. Belgi&euml;)</td>
                <td colspan="2" rowspan="1" style="text-align: center;">Gratis</td>
            </tr>
            <tr>
                <td>Direct verzenden binnen Nederland</td>
                <td colspan="2" style="text-align: center;">&euro; 1,20</td>
            </tr>
            <tr>
                <td>Direct verzenden buiten Nederland</td>
                <td colspan="2" style="text-align: center;">&euro; 1,70</td>
            </tr>
        </tbody>
    </table>
    <p>Hieronder zie je een voorbeeld berekening:</p>
    <p><strong>Bestelling:</strong>
        <br /> 55 geboortekaartjes van 13x13 cm dubbel in Natuurkarton (13x26 opengevouwen)
        <br /> 60 enveloppen in een Standaard kleur (5 extra voor het geval je schreifvouten maakt) <strong>:-)</strong>
        <br /> 1x verzending binnen Nederland</p>
    <p><strong>Berekening:</strong>
        <br /> 55 x &euro; 2,00 = &euro; 110,-
        <br /> 60 x &euro; 0,25 = &euro; 15,-
        <br /> gratis verzendkosten
        <br /> Totaal: &euro; 125,00</p>
    <h2>
        <a class="openPrijsCalculator" href="javascript:void(0);" main-cat="collecties">&gt; Bereken eenvoudig je prijs in onze prijscalculator, klik hier</a>
    </h2>
    <p>Is iets je niet helemaal duidelijk? Neem dan direct
        <a href="/contact">contact</a> met ons op!</p>
    <h2><strong>Directe verzending.</strong></h2>
    <p>Wij kunnen je gemaakte kaart ook direct voor je versturen naar je gasten.&nbsp;
        <a href="/direct-verzenden">Lees hier meer over direct verzenden.</a>
        <br /> De kosten voor de verzendservice vind je hieronder, deze prijzen zijn inclusief de standaard portokosten.</p>
    <div class="table-responsive">
        <table border="1" cellpadding="1" cellspacing="1" class="table" style="width: 700px;">
            <thead>
                <tr>
                    <td>Dekking</td>
                    <td>Prijs per kaart</td>
                    <td>Prijsopbouw</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nederland</td>
                    <td>&euro; 1,20</td>
                    <td>Verzendservice incl. portokosten</td>
                </tr>
                <tr>
                    <td>Buiten Nederland</td>
                    <td>&euro; 1,70</td>
                    <td>Verzendservice incl. portokosten</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2><strong>Echte proefdruk van je favoriete kaart.</strong></h2>
    <p>Om zeker te weten dat je kaartje helemaal naar wens is, is het bij ons mogelijk om een <strong>&eacute;chte</strong>&nbsp;proefdruk van je geboortekaartje, trouwkaart of kerstkaart te ontvangen. Een&nbsp;<strong>&eacute;chte</strong>&nbsp;proefkaart ontvang je voor maar <strong>&euro; 1,-</strong> inclusief verzendkosten. Met daarbij een setje papiersoorten voor je kaartje en de mogelijke kleuren voor de enveloppen.</p>
    <p>Vraag gerust meerdere proefdrukken aan zodat je zeker weet dat je kaartje supermooi wordt. Je kunt maximaal 3 proefdrukken bestellen voor &euro; 1,- daarna betaal je de stukprijs per bestelde kaart.</p>
    <h2><strong>De papiersoorten voor je kaart.</strong></h2>
    <p>Bij een bestelling van kaarten op MyCards.nl kun je kiezen uit 6&nbsp;verschillende papiersoorten.</p>
    <ul>
        <li>- Natuurkarton (mooi stevig wit papier)</li>
        <li>- Zijdeglans&nbsp;(wit, glad papier)</li>
        <li>- Parelmoer (mooi papier met een parelmoer glittering) * Toeslag &euro; 0,15 per enkel kaartje / &euro; 0,25 per dubbel kaartje</li>
        <li>- Oud Hollands (offwhite papier met structuur) * Toeslag &euro; 0,15 per enkel kaartje / &euro; 0,25 per dubbel kaartje</li>
        <li>- Fotokaart (aan de buitenzijde van de kaart een hoogglans laag (laminaat) en een matte binnenzijde)</li>
        <li>- Yvory Gold (stevig&nbsp;stevig iets off-white&nbsp;papier met een glitter)&nbsp;* Toeslag &euro; 0,25 per kaartje</li>
    </ul>
    <p>Lees een uitgebreide omschrijving op de
        <a href="/papiersoorten">papiersoorten pagina.</a>
    </p>
    <h2><strong>De enveloppen voor je kaart.</strong></h2>
    <p>Je kunt bij ons kiezen uit 22&nbsp;<strong>verschillende </strong>enveloppen. Elk formaat kaart heeft zijn eigen envelop. Zo hoef je niet bang te zijn dat de envelop te groot is voor je kaart. Enveloppen zijn standaard te verkrijgen in vele<strong>&nbsp;kleuren</strong>. Je kunt enveloppen ook
        <a href="/bestel_details?keuze=enveloppen">vooraf bestellen.</a>
    </p>
    <h3>Tip: bestel je enveloppen vooraf.</h3>
    <div>Tip: Bestel altijd wat <strong>extra enveloppen</strong> in verband met bijvoorbeeld eventuele schrijffouten en&nbsp;enveloppen <strong>vooraf</strong>, dan heb je ze alvast in huis en kun je rustig de adressen er op schrijven. Wil je je enveloppen vooraf bestellen?&nbsp;
        <a href="/bestel_details?keuze=enveloppen">Ga dan naar de enveloppenpagina.</a>
    </div>
    <div>&nbsp;</div>
    <div class="table-responsive">
        <table align="left" border="0" cellpadding="0" cellspacing="1" class="table" style="width: 720px; ">
            <tbody>
                <tr>
                    <td>
                        <p dir="rtl" style="text-align: center;"><img alt="wit" src="/img/envelop-14x14-wit.png" style="font-size: 12px; width: 89px; height: 89px; float: left;" /></p>
                    </td>
                    <td>
                        <p dir="rtl" style="text-align: center;"><img alt="" src="/img/enveloppen/envelop-14x14-creme.png" style="float: left; width: 89px; height: 89px; " /></p>
                    </td>
                    <td>
                        <p dir="rtl" style="text-align: center;"><img alt="" src="/img/enveloppen/envelop-14x14-zilvergrijs.png" style="float: left; width: 89px; height: 89px; " /></p>
                    </td>
                    <td>
                        <p dir="rtl" style="text-align: center;"><img alt="" src="/img/enveloppen/envelop-14x14-zwart.png" style="float: left; width: 89px; height: 89px; " /></p>
                    </td>
                    <td>
                        <p dir="rtl" style="text-align: center;"><img alt="" src="/img/enveloppen/envelop-14x14-koraalrood.png" style="float: left; width: 89px; height: 89px; " /></p>
                    </td>
                    <td>
                        <p dir="rtl" style="text-align: center;"><img alt="" src="/img/enveloppen/envelop-14x14-feloranje.png" style="float: left; width: 89px; height: 89px; " /></p>
                    </td>
                    <td>
                        <p dir="rtl" style="text-align: center;"><img alt="Peach" src="/media/vierkantpeach90x90.jpg" style="width: 80px; height: 80px; float: left;" /></p>
                    </td>
                </tr>
                <tr>
                    <td dir="rtl" style="text-align: center;">Wit</td>
                    <td dir="rtl" style="text-align: center;">Cr&egrave;me</td>
                    <td dir="rtl" style="text-align: center;">Lichtgrijs</td>
                    <td dir="rtl" style="text-align: center;">Zwart</td>
                    <td dir="rtl" style="text-align: center;">Koraalrood</td>
                    <td dir="rtl" style="text-align: center;">Feloranje</td>
                    <td dir="rtl" style="text-align: center;">Peach</td>
                </tr>
                <tr>
                    <td dir="rtl" style="text-align: center;"><img alt="" src="/img/enveloppen/envelop-14x14-lichtroze.png" style="float: left; width: 89px; height: 89px;" /></td>
                    <td dir="rtl" style="text-align: center;"><img alt="" src="/img/enveloppen/envelop-14x14-hardroze.png" style="width: 89px; height: 89px; float: left;" /></td>
                    <td dir="rtl" style="text-align: center;"><img alt="paars" src="/img/envelop-14x14-lavendel.png" style="width: 89px; height: 89px; float: left;" /></td>
                    <td dir="rtl" style="text-align: center;"><img alt="Paars" src="/img/envelop-14x14-paars.png" style="width: 89px; height: 89px; float: left;" /></td>
                    <td dir="rtl" style="text-align: center;"><img alt="" src="/img/enveloppen/envelop-14x14-appelgroen.png" style="float: left; width: 89px; height: 89px;" /></td>
                    <td dir="rtl" style="text-align: center;"><img alt="" src="/media/vierkantmintgroen90x90.jpg" style="width: 80px; height: 80px; float: left;" /></td>
                    <td dir="rtl" style="text-align: center;"><img alt="Olijfgroen" src="/media/vierkantolijfgroen90x90.jpg" style="width: 80px; height: 80px; float: left;" /></td>
                </tr>
                <tr>
                    <td dir="rtl" style="text-align: center;">Lichtroze</td>
                    <td dir="rtl" style="text-align: center;">Roze</td>
                    <td dir="rtl" style="text-align: center;">Lavendel</td>
                    <td dir="rtl" style="text-align: center;">Paars</td>
                    <td dir="rtl" style="text-align: center;">Groen</td>
                    <td dir="rtl" style="text-align: center;">Mintgroen</td>
                    <td dir="rtl" style="text-align: center;">Olijfgroen</td>
                </tr>
                <tr>
                    <td dir="rtl" style="text-align: center;"><img alt="" src="/img/enveloppen/envelop-14x14-lichtblauw.png" style="float: left; width: 89px; height: 89px;" /></td>
                    <td dir="rtl" style="text-align: center;"><img alt="" src="/img/enveloppen/envelop-14x14-koningsblauw.png" style="float: left; width: 89px; height: 89px;" /></td>
                    <td dir="rtl" style="text-align: center;"><img alt="donkerblauw" src="/img/envelop-14x14-donkerblauw.png" style="width: 89px; height: 89px; float: left;" /></td>
                    <td dir="rtl" style="text-align: center;"><img alt="parelmoer" src="/img/envelop-14x14-parelmoer.png" style="width: 89px; height: 89px; float: left;" /></td>
                    <td dir="rtl" style="text-align: center;"><img alt="zilver metallic" src="/img/envelop-14x14-zilver.png" style="width: 89px; height: 89px; float: left;" /></td>
                    <td dir="rtl" style="text-align: center;"><img alt="goud" src="/img/envelop-14x14-goud.png" style="width: 89px; height: 89px; float: left;" /></td>
                    <td dir="rtl" style="text-align: center;"><img alt="Kraft" src="/img/envelop-14x14-kraft.png" style="width: 89px; height: 89px; float: left;" /></td>
                </tr>
                <tr>
                    <td dir="rtl" style="text-align: center;">Lichtblauw</td>
                    <td dir="rtl" style="text-align: center;">Blauw</td>
                    <td dir="rtl" style="text-align: center;">Donkerblauw</td>
                    <td dir="rtl" style="text-align: center;">Parelmoer</td>
                    <td dir="rtl" style="text-align: center;">Zilver</td>
                    <td dir="rtl" style="text-align: center;">Goud</td>
                    <td dir="rtl" style="text-align: center;">Kraft</td>
                </tr>
                <tr>
                    <td dir="rtl" style="text-align: center;"><img alt="Transparant" src="/media/enveloptransparant.jpg" style="width: 80px; height: 80px; float: left;" /></td>
                    <td dir="rtl" style="text-align: center;">&nbsp;</td>
                    <td dir="rtl" style="text-align: center;">&nbsp;</td>
                    <td dir="rtl" style="text-align: center;">&nbsp;</td>
                    <td dir="rtl" style="text-align: center;">&nbsp;</td>
                    <td dir="rtl" style="text-align: center;">&nbsp;</td>
                    <td dir="rtl" style="text-align: center;">&nbsp;</td>
                </tr>
                <tr>
                    <td dir="rtl" style="text-align: center;">Transparant</td>
                    <td dir="rtl" style="text-align: center;">&nbsp;</td>
                    <td dir="rtl" style="text-align: center;">&nbsp;</td>
                    <td dir="rtl" style="text-align: center;">&nbsp;</td>
                    <td dir="rtl" style="text-align: center;">&nbsp;</td>
                    <td dir="rtl">&nbsp;</td>
                    <td dir="rtl">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
</div>