<div class="container">
    <h3 style="text-align: center;">Kies voor onze overige trouwkaarten &eacute;&eacute;n van de volgende categorie&euml;n:</h3>
    <h2 style="text-align: center; paddin-bottom: 30px; ">
        <a href="/trouwkaarten/originele-trouwkaarten">Origineel</a> -
        <a href="/trouwkaarten/klassieke-trouwkaarten">Klassiek</a>&nbsp;-
        <a href="/trouwkaarten/trouwkaarten-met-foto">Met foto</a>&nbsp;-
        <a href="/trouwkaarten/islamitische-arabische">Arabisch</a>&nbsp;-
        <a href="/trouwkaarten/save-the-date">Save the date</a>
    </h2>
</div>
<div class="container" style="text-align:center">
    <img class="img-responsive img-center" alt="stappenplan geboortekaartje maken" src="/media/steps.jpg" title="Geboortekaartjes online maken" />
</div>
<div class="container">
    <h2>Trouwkaarten maken tips</h2>
    <p>Kies en bewerk je favoriete trouwkaart en sla het ontwerp op in je eigen collectie. Zijn de trouwdatum en trouw- feestlocatie definitief? Pas dan in je eigen collectie de trouwkaart aan met de definitieve informatie en bestel je trouwkaarten.</p>
    <p>Om zeker te weten dat je trouwkaart helemaal naar wens is, adviseren we je een proefdruk van je trouwkaart te bestellen. Een &eacute;chte proefdruk kost maar &euro; 1,- inclusief verzendkosten. Daarbij ontvang je ook een set papiersoorten en de kleuren van de enveloppen.</p>
    <p>Zorg altijd voor vermelding van de 4 w&rsquo;s op de trouwkaart die je gaat maken.</p>
    <p>
        <em>Wie?</em> Wie gaan er trouwen
        <br />
        <em>Wanneer?</em> Wanneer vindt de bruiloft plaats
        <br />
        <em>Waar?</em> Waar vindt de bruiloft plaats
        <br />
        <em>Wat?</em> Waarvoor is de gast uitgenodigd&nbsp;
    </p>
    <p>Op zoek naar een mooie tekst voor op de trouwkaart? Bezoek onze
        <a href="http://mycards.nl/trouwkaarten/voorbeeld-teksten">voorbeeldteksten pagina</a> voor inspiratie!
    </p>
</div>
<div class="container">
    <h3>Trouwkaarten voor je mooiste dag maken.</h3>
    <p>Trouwkaarten in verschillende lieve kleuren zoals roze, blauw en grijs. Maar ook met zilver, goud, geel paars en vele andere kleuren. Uiteraard kan je kiezen uit vele designs zoals trouwkaarten met hartjes, bloemen, ringen en &nbsp;zwanen en kaarten waar je een eigen foto in kan plaatsen. Veel plezier met het maken van je trouwkaart.</p>
    <p>*voor 18:00 uur besteld en morgen in huis is geldig bij bestelling vanaf 20 kaarten op werkdagen (pakketpost). Overige bestellingen en proefdrukken drukken en versturen&nbsp;wij de volgende werkdag (brievenbuspost).</p>
    <p>Om zeker te weten dat je nieuwjaarskaart helemaal naar wens is, is het bij ons mogelijk om een &eacute;chte proefdruk van je gemaakte kaart te ontvangen. Een &eacute;chte proefkaart ontvang je, inclusief een setje met papiersoorten voor je kaartje en de mogelijke kleuren voor de enveloppen, voor maar &euro; 1,- inclusief verzen</p>
    <p>
        <style type="text/css">
        .geboo-item,
        .comm-item,
        .uitno-item,
        .eigen-item,
        .verhuis-item,
        .kerst-item,
        .coll-item,
        .block-ads,
        .nav-bot {
            display: none;
        }
        </style>
    </p>
</div>