    <div class="cols category-thumbnails">
        <div class="xs-6 sm-4 md-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/trouwkaarten';">
                <img alt="Trouwkaarten" class="img-responsive img-center" src="/media/imgtrouwkaarten.jpg">
                <div class="thumbnail-footer text-left">
                    <a class="button button-white" href="/trouwkaarten" title="Trouwkaarten">Trouwkaarten
                        <i class="icon icon-bold-arrow">&nbsp;</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="xs-6 sm-4 md-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/uitnodigingen/jubileum';">
                <img alt="Jubileumkaarten" class="img-responsive img-center" src="/media/imguitnodigingen2.jpg">
                <div class="thumbnail-footer text-left">
                    <a class="button button-white" href="/uitnodigingen/jubileum" title="Jubileumkaarten">Jubileumkaarten
                        <i class="icon icon-bold-arrow">&nbsp;</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="xs-12 sm-4 md-4">
            <h2>Waarom MyCards.nl?</h2>
            <ul class="usp-block">
                <li>Echte proefdruk &euro; 1,-</li>
                <li>Gratis verzenden</li>
                <li>Kies uit 6 papiersoorten</li>
                <li>Kies uit 21 enveloppen</li>
                <li>Inclusief bedrukte achterkant</li>
                <li>V&oacute;&oacute;r 18u besteld is dezelfde dag verzonden</li>
            </ul>
            <a class="button button-lg button-yellow button-100 " href="/geboortekaartjes/zelf-geboortekaartjes-maken-ontwerpen">Zelf ontwerpen
                <i class="icon icon-bold-arrow">&nbsp;</i>
            </a>
        </div>
    </div>
<p class="xs-hide xsm-hide">Welkom op MyCards.nl! De leukste kaartenwebsite om zelf je mooiste <em><strong>trouwkaarten</strong></em> te maken. Met onze online kaartentool kun je eenvoudig elke trouwkaart naar eigen wens samenstellen.</p>

