/** BLOCK - JS-FEEDBACK -----------------------------------------**/


.js-feedback {
	position: relative;
	max-width: 500px; 
	margin-left: auto;
	margin-right: auto;
	height: 150px;
	font-size: 15px; 
	font-style: italic; 
	margin-top: 10px; 
	p {
		display: none;
		position: absolute;
	}
}


@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}
