/** PAGE - HOME -----------------------------------------**/

#body_home {
	.visual {
		background-image: url(../media/homevisual.jpg);
	}
}

@media only screen and (min-width: 768px) {
#body_home {
	.visual {
		min-height: 300px; 
		margin-bottom: 0px; 
	}
}
}
