/** BLOCK - BUTTON -----------------------------------------**/

.button {
    transition: color 0.3s, border-color 0.3s, background-color 0.1s;
    border-radius: 3px;
    font-family: $titleFont;
    i:after {   
        transition: margin 0.3s;
    }
    &:hover {
        i:after {
            margin-left: 5px; 
            margin-right: -5px; 
        }
    }
}
.button-100 {
    width: 100%;
}
.button-blue {
    color: #fff;
    background-color: $blue;
    border-color: $blue;
    &:hover {
        color: $blue;
        background-color: #fff;
    }
}

.button-white {
    color: $blueGrey;
    background-color: $white;
    border-color: $white;
    &:hover {
        border-color: $greyLight;
    }
}

.button-yellow {
    color: $blueGrey;
    background-color: $yellow;
    border-color: $yellow;
    &:hover {
        background-color: #fff;
    }
}



@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}