/** BLOCK - CRUMBS -----------------------------------------**/

#crumbs {
    display: none;
    margin-top: -20px;
    text-transform: lowercase;
    a {
        text-transform: capitalize;
        color: $blue;
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {
    #crumbs {
        display: block;
    }
}