/** BLOCK - FOOTER-BOTTOM -----------------------------------------**/

.footer-bottom {
    @include clearfix;
    font-size: 13px;
    color: #216e7f;
    padding: 14px 15px 10px;
}



@media only screen and (min-width: 768px) {
    .footer-bottom {
        .cright {
            float: left;
        }
        .flogo {
            float: right;
            display: block;
        }
    }
}

@media only screen and (min-width: 992px) {}