/** BLOCK - FOOTER-TOP -----------------------------------------**/

.footer-top {
    background-color: $greyLightest;
    padding: 20px 15px 30px;
    text-align: center;
    .rich-snippets {
        font-size: 12px;
        margin-bottom: 30px;
        font-size: 12px;
    }
    .payment {
        margin-top: 10px; 
        a img {
        height: 40px;
        padding: 5px;  
    }
}
}



@media only screen and (min-width: 768px) {
    .footer-top {
        text-align: left;

        .rich-snippets {

            margin-bottom: 0px;
        }
    }
}

@media only screen and (min-width: 992px) {}