/** BLOCK - HOME-TIPS -----------------------------------------**/

.home-tips {
    background-color: $greyLighter;
    padding: 30px 30px;
    margin-bottom: 30px; 
    ul {
        font-size: 15px;
        padding: 0 0 0 20px;
        li {
            position: relative;
            padding-bottom: 24px;
            &:after {
                content: attr(data-number);
                font-family: Neucha, cursive;
                font-size: 26px;
                color: #5c6d71;
                position: absolute;
                width: 17px;
                top: 0;
                left: -15px;
            }
        }
    }
}


@media only screen and (min-width: 768px) {
    .home-tips {}
}

@media only screen and (min-width: 992px) {
    .home-tips {}
}

