/** BLOCK - MAIN-INFO -----------------------------------------**/

.main-info {
    color: $blueGrey;
    font-size: 14px;
    font-family: $titleFont;
    text-transform: uppercase;
    font-weight: 600;
    padding: 22px 8px;
    display: none;
}

@media only screen and (min-width: 768px) {
    .main-info {
        display: block;
        p {
            margin-bottom: 0px;
        }
    }
}

@media only screen and (min-width: 992px) {}