/** BLOCK - NAVBAR -----------------------------------------**/

.navbar.navbar-style-1 {
    height: 84px;
}

.navbar.navbar-style-1 .topbar a.logo {
    margin-top: 0px;
}

@media only screen and (min-width: 768px) {
    .navbar.navbar-style-1 {
        height: 60px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar.navbar-style-1 {
        height: 170px;
    }
}