/** BLOCK - TOPBAR -----------------------------------------**/

.navbar .topbar .topbar-menu-right>ul>li.dropdown>ul>li>a {
    white-space: nowrap;
}


.navbar .topbar {
    font-size: 12px;
    height: 46px;
    border-bottom: 1px solid $greyLight;
}


@media only screen and (min-width: 768px) {
    .navbar .topbar {
        height: 60px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar .topbar {
        height: 50px;
    }
}