/** BLOCK - USP-BLOCK -----------------------------------------**/

.usp-block {
    padding: 0px;
    background-color: #fff;
    margin: 10px 0;
    width: 100%;
}

.usp-block a, .usp-block li {
    display: block;
    list-style-position: inside;
    color: #444;
    text-decoration: none!important;
    font-size: 90%;
    padding-left: 20px;
}

.usp-block a:before, .usp-block li:before {
    content: "\2714\0020";
    margin-right: 5px;
    margin-left: -20px; 
}



@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}
