/** BLOCK - VISUAL -----------------------------------------**/

.visual {
    background-position: center;
    background-size: cover;
    padding: 0px; 
    .visual-inner {
        padding: 30px 15px;
        max-width: 704px;
        width: 100%;
        text-align: center;
        h1 {
            font-size: 33px;
            color: #5c6d71;
            margin: 0 0 20px;
            font-weight: 400;
            line-height: normal;
        }
        p {
            font-size: 18px;
            margin-bottom: 23px;
            display: none;
        }
    }
}



@media only screen and (min-width: 768px) {
    .visual {
    	padding: 20px 0;
        .visual-inner {
            padding: 42px 50px;
            text-align: left;
            h1 {
                font-size: 44px;
                margin: 0 0 14px;
            }
            p {
                display: block;
            }
        }
    }
}

@media only screen and (min-width: 992px) {}