/** BLOCK - WIDGET-FILTER -----------------------------------------**/

#filter_menu {
    label:hover {
        color: $blueGrey;
    }
    li.tag-li .custom_checkbox {
        vertical-align: middle;
        border-radius: 3px;
        &:after {
            vertical-align: super;
        }
    }
    ul li input[type=checkbox]:checked+label .custom_checkbox:after,
    ul li label:hover .custom_checkbox:after {
        vertical-align: super;
    }
    #taggroupul-kleur .tag-li label, #taggroupul-kleuren .tag-li label {
    	border-radius: 15px; 
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}