/** BLOCK - WIDGETS -----------------------------------------**/

#sidebar {
    color: $blue;

    h2,
    h3,
    a {
        color: $blue;
    }
    a:hover {
    	color: $blueGrey;
    }
}


@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}